
header {
text-align: center;
font-size: 80px;
color: white ;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.container {
position: relative;
text-align: center;
color: black;
opacity: 0.5;
filter: alpha(opacity=50);
}

.centered {
  position: absolute;
  top :50%;
  left:50%;
  transform:  translate(-50%,-50%);
}
.topnav  {
  background-color: #333;
  overflow: hidden;
}
.topnav a{
float: left;
color: #f2f2f2 ;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.topnav a:hover{
  background-color:  #ddd;
  color: black;}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
.h1 {
  text-align: center;
}
.first{
width: 20px
border: 30px solid green;
padding: 20px;
margin: 25px;
border: 2px solid red;
border-radius: 5px;
border-left: 6px solid red;
background-color: lightgrey;
box-shadow:  10px 10px ;
}
.second{
  width: 20px
  border: 30px solid green;
  padding: 20px;
  margin: 25px;
  border: 2px solid red;
  border-radius: 5px;
  border-left: 6px solid red;
  background-color: lightgrey;
  box-shadow:  10px 10px ;
}
#border1 {

border-radius: 30px 100px;
background: lightgrey;
padding: 20px;
width: 600px;
height: 150px;
border-spacing:  center;
text-align: center;
}

#last{
  border-radius: 30px 100px;
  background: lightgrey;
  padding: 20px;
  width: 600px;
  height: 150px;
  border-spacing:  center;
  text-align: center;
  float:right;
}
.p {
  font-family:  courier;
  text-align:center;
}
#test {
text-align: center;

 }
.blast {
      background-color:  lightgrey;

    }
body {
background: linear-gradient(to bottom ,rgba(99,0,0,0),rgba(99,0,0,1));
}
