

header {
text-align:center;
font-size: 80px;
text-decoration: blue;
}

#intro {
  background: url( "img_golf.jpg" ) no-repeat center fixed;
  background-size : cover;
}
h1 {
  text-align: center;
}
p {
  font-family:  courier;
}
#test {
text-align: center;
 }
.blast {
      background-color:  green;
    }
body {
background: linear-gradient(to right ,rgba(255,0,0,0),rgba(255,0,0,1));


}
