

header {
text-align: center;
font-size: 80px;
color: white ;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.container {
position: relative;
text-align: center;
color: black;
}

.centered {
  position: absolute;
  top :50%;
  left:50%;
  transform:  translate(-50%,-50%);
}
h1 {
  text-align: center;
}
.first{
width: 20px
border: 30px solid green;
padding: 20px;
margin: 25px;
border: 2px solid red;
border-radius: 5px;
border-left: 6px solid red;
background-color: lightgrey;
box-shadow:  10px 10px ;
}
.second{
  width: 20px
  border: 30px solid green;
  padding: 20px;
  margin: 25px;
  border: 2px solid red;
  border-radius: 5px;
  border-left: 6px solid red;
  background-color: lightgrey;
  box-shadow:  10px 10px ;
}
p {
  font-family:  courier;
  text-align:center;
}
#test {
text-align: center;

 }
.blast {
      background-color:  green;
    }
body {
background: linear-gradient(to right ,rgba(99,0,0,0),rgba(99,0,0,1));


}
